.page-header {
    background-color: #2C3E50;
    color: white;
}


ul {
    display: flex;
    gap: 7px;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 0 4px;
}

.flex-footer {
    display: flex;
}

.avatar {
    width: 130px;
}

.app_text_center {
    text-align: center;
    color: white;
}

.hero {
    background-color: #1ABC9C;
}

.text-up {
    text-transform: uppercase;
}

.icons {
    width: 300px;
}